<div class='container'>
    <h3 class="text">Uh oh! Error :/ </h3><p>404 Page not found!</p> <div class="home">
    <a href="/" class="link">OK</a>
    </div></div>
   
    <style>
   
    .container {
       
        max-width: 700px;
        margin: 20px auto; 
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .text{
        color: white;
        background: #c51d1d;
        padding: 1rem;
    }
    p{
        color:black;
        padding: 1rem;
        font-size: 1.25rem;
        padding-bottom: 0;
    }
    .link {
        background-color: #f4f4f4;
        color: dimgrey;
        border: 1px solid;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        margin-left: 31rem;
        padding: 7px;
        border-radius: 6px;
        padding-right: 10px;
        padding-left: 10px;
    }
    a:hover {
        background-color: grey;
        color: black;
    }
    </style>