<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Killada Chandrika Venu</h1>
    <p>Student ID: N01536668</p>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search/invoiceNo">Search by invoice</a></li>
       <li><a href="/about">Resume</a></li>
      <li><a href="/search/manufacturer">Search by manufacturer</a></li>
       <li><a href="/viewData">View Data step 7</a></li>
       <li><a href="/filteredData">View Data step 8</a></li>
       <li><a href="/viewData/step9">View Data step 9</a></li>
    </ul>
  </nav>
  <div class="content">
    {{{body}}} <!-- This will be the dynamic content section -->
  </div>
  <footer>
    <p>Email: chandrikakvenu@gmail.com</p>
  </footer>
</body>
</html>
