<h2>Welcome to Chandrika's Board</h2>
<script>
         a {
            background-color: #8a5656;
            color: white;
            border: none;
            padding: 9px 20px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }
        a:hover {
            background-color: #6c2d2d;
            color: white;
        }
</script>

