<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Killada Chandrika Venu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #efe1e1;
   
            padding-top: 2rem;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
        }

        h1 {
            color: #b29090;;
        }

        h2 {
            color: #b29090;;
            margin-top: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #6c2d2d;;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #e8d8d8;;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        a {
            background-color: #8a5656;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
          
            cursor: pointer;
            text-decoration: none;
           
        }
        a:hover {
            background-color: #6c2d2d;
            color: white;
        }
    </style>
</head>
<body>
   
    <div class="container">
       
        <h1>Killada Chandrika Venu</h1>
        <p>Email: chandrikakvenu@example.com</p>
        
        <h2>Objective</h2>
        <p>
            To utilize my technical skills for achieving the target and developing the best performance in the organization.
            I would like to implement my innovative ideas, skills, and creativity for accomplishing the projects.
        </p>

        <h2>Educational Qualification</h2>
        <table>
            <tr>
                <th>Degree</th>
                <th>Institution</th>
                <th>Board/University</th>
                <th>Year of Passing</th>
                <th>Percentage</th>
            </tr>
            <tr>
                <td><strong>B.Tech (Computer Science and Engineering)</strong></td>
                <td>Malla Reddy College of Engineering and Technology - UGC Autonomous</td>
                <td>JNTU</td>
                <td>2020</td>
                <td>7.23</td>
            </tr>
            <tr>
                <td><strong>Intermediate</strong></td>
                <td>Sri Chaitanya Junior College</td>
                <td>Intermediate Board</td>
                <td>2016</td>
                <td>90.6</td>
            </tr>
            <tr>
                <td><strong>10th Class</strong></td>
                <td>Prathibha Vidya Nikethan High School</td>
                <td>SSC Board</td>
                <td>2014</td>
                <td>8.7</td>
            </tr>
        </table>

        <h2>Achievements</h2>
        <ul>
            <li>Certification in Python programming by Microsoft Technology Associate.</li>
            <li>Certified by Oxford University Press in Oxford Achiever.</li>
            <li>Participated in International Blockchain Congress.</li>
        </ul>

        <h2>Technical Skills</h2>
        <ul>
            <li>Operating System: Windows.</li>
            <li>Languages: C, C++, Java, Python, Angular, JSP.</li>
            <li>Web Technologies: HTML, CSS, PHP.</li>
            <li>Database: MySQL.</li>
            <li>Other tools: Microsoft Office, Photoshop.</li>
        </ul>
      
    </div>

</body>
</html>
